        /* ESPACIO PARA NAVBAR */
        body {
            padding-top: 70px;
            padding-left: 260px;
            transition: padding-left 0.3s ease;
        }

        .navbar {
            background-color: #0d1b2a;
        }

        .navbar-brand,
        .nav-link,
        .navbar-text {
            color: #ffffff !important;
        }

        .card-dashboard {
            border: none;
            border-radius: 14px;
            transition: all 0.3s ease;
        }

        .card-dashboard:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 25px rgba(13, 27, 42, .15);
        }

        .icon-circle {
            width: 60px;
            height: 60px;
            background-color: #0d1b2a;
            color: #fff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 28px;
            margin: 0 auto 15px;
        }

        /* SIDEBAR */
        #sidebar {
            width: 260px;
            height: 100vh;
            position: fixed;
            top: 70px;
            left: 0;
            transition: transform 0.3s ease;
            z-index: 1000;
        }

        /* OCULTO */
        #sidebar.hidden {
            transform: translateX(-100%);
        }

        /* CUANDO SE OCULTA */
        body.sidebar-hidden {
            padding-left: 0;
        }

        /* BOTONES */
        .hoverbutton {
            color: #fff !important;
            padding: 10px 14px;
            border-radius: 8px;
            transition: 0.3s;
        }

        .hoverbutton:hover {
            background-color: #4c5157;
            transform: translateX(5px);
        }

        /* ACTIVO */
        .nav-link.active {
            background-color: #0d6efd !important;
        }